.carrito {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 0.25rem solid var(--primary-gradient-color);
    border-radius: var(--border-radius);
    padding: 0.25em;
    height: 100%;
}

.carrito__lista-platos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carrito__plato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em 1em;
    border: 0.25rem solid var(--primary-gradient-color);
    background-color: var(--primary-theme-color);
    border-radius: var(--border-radius);
}

.carrito__plato-cantidad {
    margin: 0;
}

.carrito__plato-title {
    margin: 0;
}

.carrito__plato-precio {
    margin: 0;
}

.carrito__plato-boton {
    background-color: var(--button-color);
    border-radius: var(--border-radius);
}

.carrito__total {
    margin: 0;
    font-size: 1.5rem;
}

@media (min-width: 854px) {
    .carrito__plato {
        padding: 0.25em;
        gap: 1rem;
    }
}