.reclamos {
    padding: 3em 0 1em;
    margin-top: 5rem;
}

.reclamos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    padding: var(--padding-container);
}

.reclamos__form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.reclamos__form-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}

.reclamos__form-item {
    padding: 1rem 0.75rem;
    text-align: start;
    border-radius: 0.25rem;
    border-style: none;
}

.reclamos__title {
    font-size: 1.75rem;
    color: #aa0213;
    margin: 0;
    font-weight: 700;
}

.reclamos__form-textArea {
    width: 25rem;
    height: 6.25rem;

}

.reclamos__form-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.reclamos__form-button {
    background-color: #212529;
    border-radius: 0.25rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: var(--all-transitions);
    border-style: none;
}

.reclamos__form-button:hover {
    transform: scale(1.025);
}

.reclamos__form-image-container {
    display: none;
}


@media (min-width: 854px) {
    .reclamos {
        padding: 2em 0 1em;
        margin-top: 8rem;
    }

    .reclamos__form {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .reclamos__form-image-container {
        display: flex;
        max-width: 456px;
        margin: 0;
    }

    .reclamos__form-image {
        width: 400px;
        height: 442px;
        transition: var(--all-transitions);
        border-radius: 0.25rem;
    }

    .reclamos__container {
        margin: auto;
    }

    .reclamos__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .reclamos__form-item {
        padding: 1rem 0.75rem;
        text-align: start;
    }

    .reclamos__title {
        font-size: 2rem;
    }

    .reclamos__form-item--area {
        resize: none;
        text-align: start;
    }

    .reclamos__form-button {
        padding: 0.375rem 0.75rem;
    }

    .reclamos__form-inputs {
        gap: 0.5rem;
    }
}