:root {
  --main-text-color: #000000;
  --main-shadow-color: #ffffff;
  --primary-gradient-color: #c4c5c7;
  --secondary-gradient-color: #ebebeb;
  --primary-theme-color: #1c1203;
  --secondary-theme-color: #241805;
  --text-color: #fff;
  --primary-shadow-color: #867e7e88;
  --primary-highlight: #eccb0c;
  --secondary-highlight: #ffd700;
  --primary-highlight-color: #e20000;
  --header-link-primary-highlight-color: #ff0001;
  --secondary-highlight-color: #ffd700;
  --primary-button-color: #383f44;
  --secondary-button-color: #2ba4c2;
  --pading-section: 2em 0;
  --padding-container: 0 2em;
  --max-width-container: 1920px;
  --border-radius: 0.5rem;
  --all-transitions: all 0.25s;
  --button-color: #ffffff;
  --button-text-color: #000;
  --font-main: 'Ultra', serif;
  --font-header-footer: 'Oswald', sans-serif;
  --background-color-go-up: #1c1203;
  scroll-behavior: smooth;
}